<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Institution name</th>
      <th>Description</th>
      <th>Lending policy</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.institution_name %></td>
        <td><%= profile.description %></td>
        <td><%= profile.lending_policy %></td>
        <td><%= profile.user_id %></td>
        <% if current_user == profile.user %>
          <td><%= link_to 'Show', profile %></td>
          <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
          <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to 'Show', profile %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
