<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-fluid" style = "background-color: #e0e0e0;" >
  <h1 class="display-4" style = "text-align: center;">Profiles within the MuseExchange Network</h1>
</div>

  <table class = "table">
    <thead>
      <tr>
        <th>Institution name</th>
        <th>Description</th>
        <th>Museum Contact</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @profiles.each do |profile| %>
        <tr>
          <td><%= profile.institution_name %></td>
          <td><%= profile.description %></td>
          <td><%= profile.loaner.name %></td>
          <td><%= profile.user.email %></td>
          <% if current_user == profile.user %>
            <td><%= link_to 'Show', profile, class: "btn btn-primary btn-sm", style: "background-color: #00838f;" %></td>
            <td><%= link_to 'Update', edit_profile_path(profile), class: "btn btn-primary btn-sm", style: "background-color: #00838f;" %></td>
            <td><%= link_to 'Delete', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm", style: "background-color: #00838f;" %></td>
          <% else %>
            <td><%= link_to 'Visit', profile, class: "btn btn-primary btn-sm", style: "background-color: #00838f;" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>
<% if current_user.profile == nil %>
  <%= link_to 'New Profile', new_profile_path, class: "btn btn-primary btn-sm", style: "background-color: #00838f;" %>
<% end %>
