<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-fluid" style = "background-color: #e0e0e0;" >
  <div class="container">
    <h1 class="display-4" style = "text-align: center;"> Artefacts on Loan </h1>
  </div>
</div>

<table class = "table">
  <thead>
    <tr>
      <th>Artefact</th>
      <th>Loaner</th>
      <th>Loaner Contact</th>
      <th>Borrower</th>
      <th>Borrower Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_orders.each do |loan_order| %>
      <tr>
        <td><%= loan_order.artefact.name %></td>
        <td><%= loan_order.loaner.profile.institution_name %></td>
        <td><%= loan_order.loaner.name %></td>
        <td><%= loan_order.borrower.profile.institution_name %></td>
        <td><%= loan_order.borrower.name %></td>
        <td><%= link_to 'Show', loan_order, class: "btn btn-info btn-sm" %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Artefacts', artefacts_path, class: "btn btn-info btn-sm" %>
<br><br><br><br>