<p id="notice"><%= notice %></p>

<h1>Artefacts</h1>

<div class="container">
    <div class="row">

    <% @artefacts.each do |artefact| %>
      <br>
          <div class="col-sm">
            <%= link_to image_tag(artefact.picture, class: "artefact-picture"), artefact %> 
            <br>
            <strong><%= artefact.name %></strong>
            <i><%= artefact.artist %></i>
            <i><%= artefact.date %></i>
            <i><%= artefact.loaner.name %></i>
            <strong><%= artefact.price %></strong>
          </div>
      <br>
    <% end %>
      </div>
  </div>
<br><br><br>

<%= link_to 'New Artefact', new_artefact_path %>
