<p id="notice"><%= notice %></p>

<%# Main title of page in jumbotron heading %>

<div class="jumbotron jumbotron-fluid" style = "background-color: #e0e0e0;" >
  <div class="container">
    <h1 class="display-4" style = "text-align: center;">Artefacts in the MuseExchange Network</h1>
  </div>
</div>

<%# Jumbotron wrapper holding artefacts gallery %>

<div class="jumbotron" style = "background-color: #e0e0e0; display: flex;">
    <div class="row">

<%# iterating through artefacts and rendering image and artefact information to screen. Rendering default image if no image supplied %>
<%# image provides a link to individual artefact page %>

        <% @artefacts.each do |artefact| %>
          <br>
              <div class="col-sm-3">
                <% if artefact.picture_attachment == nil %>
                  <%= link_to image_tag("default-image.png", class: "default-image"), artefact %>
                <% else %>
                  <%= link_to image_tag(artefact.picture, class: "artefact-picture-index"), artefact %> 
                <% end %>
                <br>
                <p><strong><%= artefact.name %></strong></p>
                <p><i><%= artefact.artist %></i>,
                <i><%= artefact.date %></i>,</p>
                <p><i><%= artefact.loaner.profile.institution_name  %></i></p>
              </div>
          <br>
      <% end %>
    </div>
    <br><br>    
</div>
<br>

<%# Link to new artefact for loan network %>

<%= link_to 'New Artefact', new_artefact_path, method: :get, class: "btn btn-primary btn-sm", style: "background-color: #00838f;" %>
<br><br><br><br>